extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p The aim of this project is to showcase some of the techdegree projects that I've worked with at Treehouse Island Inc. Below are the first five projects from the "Fullstack JavaScript" track program.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        div(class="cell")
          a(href=`/project/${project.id}`)
            img(class="thumbnail", src=`${project.profileImg_url}`, alt="An overview image of the project")
            h5= project.project_name


